{{#each customers}}
  <div class="index"></div>
    <p>Id: {{id}}</p>
    <p>First Name: {{first_name}}</p>
    <p>Last Name: {{last_name}}</p>
    <p>Email: {{email}}</p>
    <p>Phone: {{home_phone}}</p>
    <p>Address: {{address}}</p>
    <p>Purchases: {{purchased}}</p>
    <p>Notes: {{notes}}</p>
    <p>--</p>
  </div>
 {{/each}}