
<div class="container">

  <div class ="customer-view">
    {{#each customer}}
      <div class="customerDetails">
          <h1>{{first_name}}</h1>
          <p>{{last_name}}</p>
          <p>{{id}}</p>
          <p>{{email}}</p>
          <p>{{home_phone}}</p>
          <p>{{address}}</p>
          <p>{{notes}}</p>
      </div>
    {{/each}}
  </div>
