{{#each stock}}
  <div class="index"></div>
    <p>Id: {{id}}</p>
    <p>Sku: {{sku}}</p>
    <p>Name: {{name}}</p>
    <p>Description: {{description}}</p>
    <p>Customer ID: {{customer_id}}</p>
    <p>Product Link: {{product_link}}</p>
    <p>Supplier: {{supplier}}</p>
    <p>--</p>
  </div>
 {{/each}}

 